<!DOCTYPE html>
<html>
	<head>
		<title>Dictionary</title>
		<link href="public/css/bootstrap.min.css" rel="stylesheet">
		<link href="public/css/base.css" rel="stylesheet">
		<script type="text/javascript" src="public/js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="public/js/underscore-min.js"></script>
		<script type="text/javascript" src="public/js/backbone-min.js"></script>
		<script type="text/javascript" src="runner.js"></script>
		</head>
	<body>

		<div class="wrapper">
			<nav id="navigation" class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">Dictionaries</a>
			  </div>

			    <ul class="nav navbar-nav">
			      <li id="create-set-nav" class="active"><a href="#">Create set</a></li>
			      <li id="manage-sets-nav"><a href="#">Manage sets</a></li>
			      <li id="set-nav" class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sets <b class="caret"></b></a>
			        <ul class="dropdown-menu sets-list"></ul>
			      </li>
			    </ul>
			</nav>

			<div class="page container" id="create-set">
				<!-- Modal -->
				<div class="modal fade" id="name-prompt-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Create set</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label class="control-label" for="set-name-prompt">Enter a name for the set:</label>
									<input type="text" class="form-control input-lg" id="set-name-prompt">
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" id="prompt-close" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" id="prompt-create" class="btn btn-primary">Create</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<input style="display:none;" id="fileDialog" type="file" multiple/>
				<div class="page-header">
					<h1>Create a set of dictionaries
						<span class="pull-right">
							<a class="btn btn-primary" id="load-files">Load files</a>
						</span>
					</h1>
				</div>

				<p class="lead">
					A <strong>set of dictionaries</strong> is a group of files handling translation for the same keys
					in different languages.
				</p>

				<div class="dropzone"></div>
				<a class="btn btn-success btn-default pull-right" id="createBtn" disabled="disabled">Create the set</a>
			</div>

			<div class="page container" id="manage-sets">
				<!-- Modal -->
				<div class="modal fade" id="name-prompt-modal" tabindex="-1" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">Confirmation</h4>
							</div>
							<div class="modal-body">
								<p>Are you sure you want to delete <strong class="set-name"></strong>?</p>
							</div>
							<div class="modal-footer">
								<button type="button" id="confirmation-close" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" id="confirmation-delete" class="btn btn-primary">Delete</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<div class="page-header">
					<h1>Manage sets</h1>
				</div>
				<div class="set-list"></div>
				<a id="add-set" class="btn btn-default pull-right">Add a new set</a>
			</div>

			<div class="page container" id="manage-set">
				<h1>Manage dictionaries</h1>
				<div class="dictionary-list"></div>
					<div class="form-group">
						<label for="keys">Keys (separated by ';')</label>
						<input type="text" class="form-control" id="keys" placeholder="A_KEY; ANOTHER_KEY">
					</div>

					<p class="pull-right">
						<a id="migrate-keys" type="submit" class="btn btn-default">Migrate with...</a>
						<a id="delete-keys" type="submit" data-loading-text="Deleting..." data-complete-text="finished!" class="btn btn-danger">Delete</a>
					</p>

				<div id="migrate-modal" class="modal fade">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Migrate keys</h4>
							</div>
							<div class="modal-body">
								<p>Select the set(s) you want to migrate the keys with:</p>
								<div class="set-list"></div>
								<div class="migrate-collection"></div>
							</div>
							<div class="modal-footer">
								<button id="migrate-modal-close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button id="migrate-modal-migrate" type="button" data-loading-text="Migrating..." class="btn btn-success">Migrate</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
		</div>

		<script type="text/template" id="dropzone-table-template">
			<thead>
				<tr>
					<th>Path</th>
					<th>Lang</th>
					<th>Type</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</script>

		<script type="text/template" id="dropzone-empty-template">
			<div class="jumbotron">
  			<div class="container">
  				<p>
  					You can <strong>drag and drop</strong> dictionaries directly here,
  					or click the load file button.
  				</p>
  			</div>
  		</div>
		</script>

		<script type="text/template" id="setcollection-table-template">
			<thead>
				<tr>
					<th>Name</th>
					<th>Size</th>
					<th>Manage</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</script>

		<script type="text/template" id="setcollection-select-table-template">
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Size</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</script>

		<script type="text/template" id="dictionarylist-table-template">
			<thead>
				<tr>
					<th></th>
					<th>Path</th>
					<th>Lang</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</script>

		<script type="text/template" id="migratekey-template">
			<div class="fieldset">
				<div class="form-group">
					<label for="<%= oldKey %>"><%= oldKey %></label>
					<input type="text" class="form-control newkey-input" value="<%= newKey %>" placeholder="Enter a new key">
				</div>
			</div>
		</script>

	<script src="public/js/bootstrap.min.js"></script>
	</body>
</html>