#dropzone {
  border: 5px dashed #ccc;
  width: 70%;
  height: 200px;
  margin: 20px auto;
  float: left; }

#dropzone.hover {
  border: 10px dashed #333; }

#file-list {
  float: right;
  width: 20%; }
